<div class="modal-dialog col-md-offset-3">

  <div class="modal-content">
    <div class="modal-header">
      <h3 class="text-center">Add Book Category</h3>
    </div>
    <%= form_for :category, remote: true do |f| %>
    <div class="modal-body">
      <div class="form-group">
        <%= f.text_field :category, class:"input-lg form-control" %>
      </div>
      <div class="modal-footer">
        <%= f.submit :Add, class: "btn btn-primary" %>
        <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
      <% end %>
    </div>
  </div>
</div>